<form style="padding: 30px;">
    <div class="form-group">
      <label for="eventoName">Nombre del evento:</label>
      <input [(ngModel)]="Nombre" type="text" class="form-control" id="eventoNombre" name="Nombre" required>
    </div>
    <div class="form-group">
      <label for="eventoLugar">Lugar del evento:</label>
      <input [(ngModel)]="Lugar" class="text"  class="form-control" id="eventoLugar" name="Lugar" required>
    </div>
    <div class="form-group">
      <label for="eventoDireccion">Direccion del evento:</label>
      <input [(ngModel)]="Direccion" type="text" class="form-control" id="direccionEvento" name="Direccion" min="0" required>
    </div>
    <div class="form-group">
        <label for="eventoFechaInicio">Fecha de inicio del evento:</label>
        <input [(ngModel)]="Fecha_Inicio" type="text" class="form-control" id="eventoFechaInicio" name="Fecha_Inicio" min="0" required>
      </div>
      <div class="form-group">
        <label for="eventoFecha_Final">Fecha de finalizacion del evento:</label>
        <input [(ngModel)]="Fecha_Final" type="text" class="form-control" id="eventoFechaFinal" name="Fecha_Final" min="0" required>
      </div>
    <div class="form-group">
      <label for="eventoCategory">Categoría del evento:</label>
      <select [(ngModel)]="selectCategoria" name="Id_Categoria" required>
        <option *ngFor="let dato of listCategorias" [ngValue]="dato">
            {{dato.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label for="eventoTipo">Tipo de evento:</label>
        <select [(ngModel)]="selectTipo" name="Id_Tipo" required>
          <option *ngFor="let dato of listTipo" [ngValue]="dato">
            {{dato.name}}
          </option>
        </select>
      </div>
    <button (click)="agregarEvento()" type="submit" class="btn btn-primary">Agregar evento</button>
  </form>
  